<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      style="overflow:hidden;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  rel="stylesheet" href="../userInfo/mycss/mycss2.css" />
    <link  rel="stylesheet" href="../userInfo/mycss/button.css" />
</head>
<body>
    <form action="searchContest" class="parent">
        <input type="text" class="search" placeholder="搜索竞赛" name="contestname">
        <input type="submit" value="&nbsp;" class="btn">
    </form>

    <div>
        <table>
            <tbody>
            <tr>
                <th>竞赛名称</th>
                <th>报名开始时间</th>
                <th>报名结束时间</th>
                <th>比赛形式</th>
                <th>人数限制</th>
                <th>操作</th>
            </tr>
            <tr th:each="a:${session.contestList}">

                <td th:text="${a.getContestName()}"></td>
                <td th:text="${#dates.format(a.getSignBeginTime(),'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(a.getSignEndTime(),'yyyy-MM-dd')}"></td>

                <td th:if="${a.getContestForm()} eq 0">个人赛</td>
                <td th:if="${a.getContestForm()} eq 1">团队赛</td>

                <td th:text="${a.getTeamNumber()}"></td>

                <td ><a th:href="@{'../../../teacherInfo/checkContest?contestname='+${a.getContestName()}}" >修改竞赛</a></td>
            </tr>

            </tbody>
        </table>

    </div>
</body>
</html>