table{
    position: absolute;
    top: 25%;
    left: 36%;
    width: 260px;
    height: 150px;
}
input{
    width: 90%;
    height: 60%;
    background:rgba(255,255,255,0.15);
    border: 1px solid #2aabd2;
    border-radius: 3px;
}
button{
    position: absolute;
    top: 52%;
    left: 42%;
    width: 110px;
    height: 50px;
    background-color: cyan;
    front-size: 25px;
    border: 1px solid #2aabd2;
    border-radius: 3px;
}
h2{
    float: left;
    margin-left: 42%;
    float: top;
    margin-top: 4%;
}