<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  rel="stylesheet" href="mycss/mycss2.css" />
</head>
<body>
<div>
    <table>
        <tbody>
        <tr>
            <th>竞赛名称</th>
            <th>团队名称</th>
            <th>创建时间</th>
            <th>团队人数</th>
            <th>操作</th>
        </tr>

        <tr th:each="a:${session.teamList}">

            <td th:text="${a.getCompetitionName()}"></td>
            <td th:text="${a.getTeamName()}"></td>
            <td th:text="${#dates.format(a.getCreateTeamTime(),'yyyy-MM-dd')}"></td>
            <td th:text="${a.getNumber()}"></td>

            <td th:if="${a.getNumber()} lt ${session.contest.getTeamNumber()}"><a th:href="@{'joinTeamReady?id='+${a.getId()}}" >加入团队</a></td>
            <td th:if="${a.getNumber()} ge ${session.contest.getTeamNumber()}">加入团队</td>

        </tr>

        </tbody>
    </table>
    <div class="box"></div>
</div>
</body>
</html>